In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("tmdb_5000_movies.csv")
data.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [3]:
#how to create pandas series by himself.

In [8]:
animes=['my hero academia','death note','sword art online','one punch man','domestric girlfriend']
genre=['shounen','shamen','action adventure','action','glo']

In [11]:
ser=pd.Series(animes ,name='animes')

In [12]:
ser

0        my hero academia
1              death note
2        sword art online
3           one punch man
4    domestric girlfriend
Name: animes, dtype: object

In [13]:
animes_series2=pd.Series(genre , index= anime,name='anime genre')

In [14]:
animes_series2

my hero academia                 shounen
death note                        shamen
sword art online        action adventure
one punch man                     action
domestric girlfriend                 glo
Name: anime genre, dtype: object

In [16]:
dict={  'my hero academia'      :           'shounen',
        'death note'           :             'shamen',
        'sword art online'    :   'action adventure',
        'one punch man'      :              'action',
        'domestric girlfriend' :                 'glo',


        }

In [18]:
pd.Series(dict,name="anime genre")

my hero academia                 shounen
death note                        shamen
sword art online        action adventure
one punch man                     action
domestric girlfriend                 glo
Name: anime genre, dtype: object