In [1]:
import pandas as pd

In [7]:
data=pd.read_csv("tmdb_5000_movies.csv")
data.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
data["cast"]

0       [{"cast_id": 242, "character": "Jake Sully", "...
1       [{"cast_id": 4, "character": "Captain Jack Spa...
2       [{"cast_id": 1, "character": "James Bond", "cr...
3       [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4       [{"cast_id": 5, "character": "John Carter", "c...
                              ...
4798    [{"cast_id": 1, "character": "El Mariachi", "c...
4799    [{"cast_id": 1, "character": "Buzzy", "credit_...
4800    [{"cast_id": 8, "character": "Oliver O\u2019To...
4801    [{"cast_id": 3, "character": "Sam", "credit_id...
4802    [{"cast_id": 3, "character": "Herself", "credi...
Name: cast, Length: 4803, dtype: object

In [9]:
type(data["cast"])

pandas.core.series.Series

In [11]:
data.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [10]:
# numerical series..

In [12]:
ser=data['movie_id']

In [13]:
ser

0        19995
1          285
2       206647
3        49026
4        49529
         ...
4798      9367
4799     72766
4800    231617
4801    126186
4802     25975
Name: movie_id, Length: 4803, dtype: int64

In [14]:
ser.sum()

274565821

In [15]:
ser.index

RangeIndex(start=0, stop=4803, step=1)

In [16]:
ser.head()

0     19995
1       285
2    206647
3     49026
4     49529
Name: movie_id, dtype: int64

In [17]:
ser.tail()

4798      9367
4799     72766
4800    231617
4801    126186
4802     25975
Name: movie_id, dtype: int64

In [18]:
ser.size

4803

In [19]:
ser.shape

(4803,)

In [20]:
ser.unique()

array([ 19995,    285, 206647, ..., 231617, 126186,  25975], dtype=int64)

In [21]:
ser.nunique()

4803

In [27]:
ser.describe()

count      4803.000000
mean      57165.484281
std       88694.614033
min           5.000000
25%        9014.500000
50%       14629.000000
75%       58610.500000
max      459488.000000
Name: movie_id, dtype: float64

In [28]:
# the above methods are same in both data frame and series.

In [29]:
# the below methods are just used in series.

In [30]:
ser.count()

4803

In [32]:
ser.std()

88694.61403331814

In [33]:
ser.mean()

57165.484280657925

In [34]:
ser.median()

14629.0

In [35]:
ser.min()

5

In [36]:
ser.max()

459488

In [37]:
len(ser.unique())

4803

In [38]:
ser.value_counts() # by default it is in descending order.

19995     1
333355    1
71157     1
43418     1
11588     1
         ..
13156     1
293863    1
16871     1
307081    1
25975     1
Name: movie_id, Length: 4803, dtype: int64

In [40]:
ser.value_counts(ascending=True ,bins=3) # bins=3 will print value in range.

(306327.0, 459488.0]     167
(153166.0, 306327.0]     473
(-454.484, 153166.0]    4163
Name: movie_id, dtype: int64