In [1]:
import pandas as pd

In [2]:
dic={1:'one',4:'four',2:'two',3:'three'}

In [3]:
ser=pd.Series(dic,name="numbers")

In [4]:
ser

1      one
4     four
2      two
3    three
Name: numbers, dtype: object

In [6]:
ser.sort_index()

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [7]:
ser.sort_index( ascending=True, inplace=True ) # inplace will sort the actuall series

In [8]:
ser

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [10]:
ser.sort_values(ascending=True, inplace=True)

In [11]:
ser

4     four
1      one
3    three
2      two
Name: numbers, dtype: object